<nz-layout [ngClass]="{
  air__layout__contentNoMaxWidth: isContentNoMaxWidth,
  air__layout__appMaxWidth: isAppMaxWidth,
  air__layout__grayBackground: isGrayBackground,
  air__layout__squaredBorders: isSquaredBorders,
  air__layout__cardsShadow: isCardShadow,
  air__layout__borderless: isBorderless
}">
    <air-sidebar></air-sidebar>
    <air-support-chat></air-support-chat>

    <nz-layout>
        <nz-header class="air__layout__header"
            [ngClass]="{air__layout__fixedHeader: isTopbarFixed, air__layout__headerGray: isGrayTopbar}">
            <air-topbar></air-topbar>
            <air-subbar></air-subbar>
        </nz-header>
        <nz-content style="height: 100%; position: relative;">
            <router-outlet #outlet="outlet"></router-outlet>
        </nz-content>

    </nz-layout>
</nz-layout>

<ngx-spinner></ngx-spinner>
