@import 'src/assets/styles/mixins.scss';

body .ant-dropdown-menu-item, body .ant-dropdown-menu-submenu-title {
    min-width: 200px;
}


.dropdown {
  padding-right: 15px;
  position: relative;
  cursor: pointer;
  @include transition-slow;

  &::after {
    color: $gray-4;
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    @include transition-slow;
  }

  &:hover {
    color: $blue;

    &::after,
    .icon {
      color: $gray-5;
    }
  }
}

.title {
  display: block;
  padding: rem(8) rem(20);
}

.icon {
  margin-right: rem(6);
  color: $gray-4;
  position: relative;
  bottom: -0.14rem;
  @include transition-slow;
}

.menuIcon {
  margin-right: rem(5);
}
