<div>
    <div nz-dropdown nzTrigger="click" class="dropdown" [nzDropdownMenu]="menu">
        <i class="icon fe fe-book-open"></i>
        <span class="d-none d-xl-inline">
            Top Menu
        </span>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>

            <li nz-submenu nzTitle="HR" nzIcon="appstore">
                <ul>
                    <li nz-menu-item>
                        <a [routerLink]="['/hr/company']" routerLinkActive="router-link-active">Company</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="['/hr/direktori']" routerLinkActive="router-link-active">Direktori</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="['/hr/akunting']" routerLinkActive="router-link-active">Akunting</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="['/hr/kalender']" routerLinkActive="router-link-active">Kalender</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="['/hr/permintaan']" routerLinkActive="router-link-active">Permintaan</a>
                    </li>

                </ul>
            </li>
            <li nz-submenu nzTitle="Asset" nzIcon="appstore">
                <ul>
                    <li nz-menu-item>
                        <a [routerLink]="['/asset/inventaris']" routerLinkActive="router-link-active">inventaris</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="['/asset/master']" routerLinkActive="router-link-active">Master</a>
                    </li>
                    <!--
                    <li nz-menu-item>Option 6</li>
                    <li nz-submenu nzTitle="Submenu">
                        <ul>
                            <li nz-menu-item>Option 7</li>
                            <li nz-menu-item>Option 8</li>
                        </ul>
                    </li> -->
                </ul>
            </li>

            <li nz-menu-item>
                <a [routerLink]="['/purchasing']" routerLinkActive="router-link-active">
                    <i class="menuIcon fe fe-settings"></i> Purchasing
                </a>
            </li>

            <li nz-menu-group>
                <span title>
                    <strong>Inactive</strong>
                </span>
                <ul class="list-unstyled">
                    <li nz-menu-item>
                        <a href="javascript: void(0);">Marketing</a>
                    </li>
                </ul>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item>
                <a href="javascript: void(0);">
                    <i class="menuIcon fe fe-settings"></i> Settings
                </a>
            </li>
        </ul>
    </nz-dropdown-menu>
</div>