@import 'src/assets/styles/mixins.scss';

.air__menuLeft {
    flex: 0 0 240px;
    max-width: 240px;
    min-width: 240px;
    width: 240px;
    min-height: 85vh;
    background: $black;
    overflow: hidden;

    @media (max-width: $sm-max-width) {
        position: fixed;
        z-index: 997;
        top: 0;
        left: 0;
        bottom: 0;
        overflow: visible;
        margin-left: -240px;
        transition: transform 0.2s ease-in-out;

        &__mobileToggleButton {
            display: block !important;
        }

        &__toggleButton {
            display: none;
        }

        @at-root {
            .air__menuLeft__mobileToggled {
                transform: translateX(240px);
            }
        }
    }

    // fixed container
    &__outer {
        z-index: 1000;
        top: 0;
        flex: 0 0 240px;
        max-width: 240px;
        min-width: 240px;
        width: 240px;
        display: flex;
        flex-direction: column;
    }

    // menu container
    &__container {
        padding-bottom: rem(20);
    }

    &__backdrop {
        position: fixed;
        z-index: 996;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $black;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out;

        @at-root {
            @media (max-width: $sm-max-width) {
                .air__menuLeft__mobileToggled + & {
                    opacity: 0.2;
                    visibility: visible;
                }
            }
        }
    }

    // mobile toggle button
    &__mobileToggleButton {
        position: absolute;
        right: rem(-40);
        top: rem(142);
        width: rem(40);
        height: rem(40);
        background: $black;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        display: none;
        text-align: center;
        box-shadow: $shadow-2;

        span {
            display: inline-block;
            width: 14px;
            height: 2px;
            position: relative;
            background: $white;
            transition: background 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
            top: 5px;

            @at-root {
                .air__menuLeft__mobileToggled & {
                    background: transparent;
                    &:before {
                        transform: translateY(5px) rotate(45deg);
                    }
                    &:after {
                        transform: translateY(-5px) rotate(-45deg);
                    }
                }
            }

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                background: $white;
                width: 100%;
                height: 2px;
                transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
            }
            &:before {
                top: -5px;
            }
            &:after {
                top: 5px;
            }
        }
    }

    // toggle button
    &__toggleButton {
        @at-root {
            .air__menuLeft__toggled {
                .air__menuLeft__toggleButton {
                    transform: rotate(180deg);
                }
            }
        }
        position: absolute;
        bottom: rem(12);
        left: rem(10);
        z-index: 2;
        width: 40px;
        height: 40px;
        cursor: pointer;
        &:hover {
            span {
                opacity: 1 !important;
            }
        }
        span {
            @include transition-slow();
            opacity: 0.9;
            &:before,
            &:after {
                position: absolute;
                content: '';
                display: block;
                width: 12px;
                height: 3px;
                background: $primary;
                border-radius: 5px;
            }
            &:before {
                top: 14px;
                left: 6px;
                transform: rotate(-45deg);
            }
            &:after {
                top: 21px;
                left: 6px;
                transform: rotate(45deg);
            }
            &:first-child {
                position: relative;
                left: 3px;
            }
            &:last-child {
                position: relative;
                left: 11px;
                opacity: 0.5;
            }
        }
    }

    //logo
    &__logo {
        display: block;
        padding: rem(15) rem(20);
        line-height: 1;
        height: rem(64);
        img {
            float: left;
            margin-top: rem(5);
        }
        &__name {
            font-weight: 900;
            color: $white;
            font-size: 21px;
            margin-left: rem(40);
        }
        &__descr {
            color: $gray-4;
            margin-left: rem(40);
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    // user
    &__user {
        display: block;
        padding: rem(15) rem(20);
        height: rem(72);
        line-height: 1.3;
        &__avatar {
            float: left;
        }
        &__name {
            margin-left: rem(60);
            color: $white;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: rem(2);
        }
        &__role {
            margin-left: rem(60);
            color: $gray-6;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    // banner
    &__banner {
        margin: rem(40) rem(20) rem(20);
        background: $primary;
        background: linear-gradient(45deg, $primary 0%, lighten($primary, 10%) 100%);
        border-radius: 6px;
        padding: rem(20);
        color: $white;
        box-shadow: 0 8px 15px -5px rgba(0, 0, 0, 1);
    }

    // menu items
    &__list {
        list-style: none;
        padding-left: 0;
        margin: 0;
        text-transform: capitalize;

        .air__menuLeft__list {
            .air__menuLeft__link {
                padding-left: rem(49);
                text-transform: capitalize;
            }
        }
    }

    &__category {
        text-transform: uppercase;
        color: $text;
        letter-spacing: 1px;
        font-size: rem(12);
        padding: rem(14) rem(20);
        overflow: hidden;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: rem(20);
            right: rem(20);
            height: 1px;
            background: darken($text, 20%);
            display: none;
        }
    }

    &__item {
        display: block;
        &__active {
            > .air__menuLeft__link {
                background: $primary;
                color: $white;

                .air__menuLeft__icon {
                    color: $white;
                }
            }
        }
    }

    &__submenu {
        > .air__menuLeft__link {
            position: relative;
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: rem(20);
                right: rem(20);
                width: 6px;
                height: 2px;
                background: $gray-6;
                transform: rotate(-45deg);
                @include transition-bg();
            }
            &:after {
                right: rem(24);
                transform: rotate(45deg);
            }
        }
        &__active {
            background: darken($black, 4%);
            > .air__menuLeft__link {
                color: $white;
                &:before,
                &:after {
                    background: $white;
                }

                .air__menuLeft__icon {
                    color: $white;
                }
            }
            > .air__menuLeft__list {
                display: block !important;
            }
        }
        .air__menuLeft__list {
            display: none;
            padding-bottom: rem(10);
        }
    }

    &__link {
        color: $gray-5;
        display: block;
        padding: rem(9) rem(40) rem(9) rem(20);
        font-size: rem(15);

        &:hover,
        &:focus {
            color: $white;

            &:before,
            &:after {
                background: $white;
            }
        }
    }

    &__icon {
        display: inline-block;
        width: rem(25);
    }

    // toggled menu
    @at-root {
        @media (min-width: $sm-min-width) {
            .air__menuLeft__toggled:not(.air__menuLeft__compact) {
                flex: 0 0 80px;
                max-width: 80px;
                min-width: 80px;
                width: 80px;

                .air__menuLeft {
                    &__outer {
                        flex: 0 0 80px;
                        max-width: 80px;
                        min-width: 80px;
                        width: 80px;
                    }
                    &__logo {
                        visibility: hidden;
                    }
                    &__toggleButton {
                        right: rem(20);
                    }
                    &__user {
                        &__name,
                        &__role {
                            display: none;
                        }
                    }
                    &__banner {
                        display: none;
                    }
                    &__submenu {
                        &__active {
                            background: $primary;
                        }
                        > .air__menuLeft__list {
                            display: none !important;
                        }
                    }
                    &__link {
                        > span {
                            display: none;
                        }
                        &:before {
                            right: rem(18);
                            top: rem(21);
                        }
                        &:after {
                            right: rem(18);
                            top: rem(18);
                        }
                    }
                    &__icon {
                        width: rem(40);
                        text-align: center;
                    }
                    &__category {
                        text-indent: -999px;
                        &:after {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    // compact menu
    @at-root {
        @media (min-width: $sm-min-width) {
            .air__menuLeft__compact {
                flex: 0 0 150px;
                max-width: 150px;
                min-width: 150px;
                width: 150px;

                .air__menuLeft {
                    &__outer {
                        flex: 0 0 150px;
                        max-width: 150px;
                        min-width: 150px;
                        width: 150px;
                    }

                    &__logo {
                        text-align: center;
                        img {
                            float: none;
                        }
                        &__name,
                        &__descr {
                            display: none;
                        }
                    }
                    &__toggleButton {
                        display: none;
                    }
                    &__user {
                        height: auto;
                        text-align: center;
                        &__avatar {
                            float: none;
                            margin-bottom: rem(10);
                        }
                        &__name,
                        &__role {
                            display: block;
                            margin-left: 0;
                        }
                    }
                    &__banner {
                        display: none;
                    }
                    &__submenu {
                        &__active {
                            background: $primary;
                        }
                        > .air__menuLeft__list {
                            display: none !important;
                        }
                    }
                    &__link {
                        text-align: center;
                        padding: rem(9) rem(20);
                        > span {
                            display: block;
                            float: none !important;
                            &:global(.badge) {
                                display: inline-block;
                            }
                        }
                        &:before {
                            right: rem(18);
                            top: 50%;
                            margin-top: 2px;
                        }
                        &:after {
                            right: rem(18);
                            top: 50%;
                            margin-top: -1px;
                        }
                    }
                    &__icon {
                        width: rem(40);
                        display: block;
                        margin: 0 auto rem(5);
                        text-align: center;
                    }
                    &__category {
                        display: none;
                    }
                }
            }
        }
    }

    // unfixed
    @at-root {
        .air__menuLeft__unfixed {
            display: flex;

            .air__menuLeft__outer {
                height: auto;
                position: static;
            }
        }
    }

    // menu shadow
    @at-root {
        .air__menuLeft__shadow {
            box-shadow: $shadow-3;
        }
    }

    // menu themes
    @at-root {
        // blue theme
        .air__menuLeft__blue {
            background: $primary;

            .air__menuLeft {
                &__toggleButton {
                    span:first-child {
                        &:before,
                        &:after {
                            background: $white;
                        }
                    }
                    span:last-child {
                        &:before,
                        &:after {
                            background: $white;
                        }
                    }
                }

                &__category {
                    &:after {
                        background: rgba($gray-1, 0.1);
                    }
                }

                &__link {
                    color: $gray-2;

                    &:hover {
                        color: $white;
                        &:before,
                        &:after {
                            background: $white !important;
                        }
                    }
                }

                &__submenu {
                    &__active {
                        background: darken($primary, 5%);
                        > .air__menuLeft__link {
                            color: $white;
                            &:before,
                            &:after {
                                background: $white !important;
                            }
                        }
                    }

                    > .air__menuLeft__link {
                        &:before,
                        &:after {
                            background: $gray-5;
                        }
                    }
                }

                &__category,
                &__user__role {
                    color: $gray-5;
                }

                &__banner {
                    box-shadow: 0 8px 15px -5px rgba(0, 0, 0, 0.3);
                }
            }
        }

        // gray theme
        .air__menuLeft__gray {
            background: $gray-1;

            .air__menuLeft {
                &__category {
                    &:after {
                        background: darken($gray-1, 4%);
                    }
                }

                &__link {
                    color: $text;

                    &:hover {
                        color: $white;
                        background: $primary;
                        &:before,
                        &:after {
                            background: $white !important;
                        }
                    }
                }

                &__item {
                    &__active {
                        .air__menuLeft__link {
                            color: $white;
                        }
                    }
                }

                &__submenu {
                    &__active {
                        background: $gray-2;
                        > .air__menuLeft__link {
                            .air__menuLeft__icon {
                                color: $text;
                            }

                            &:hover {
                                .air__menuLeft__icon {
                                    color: $white;
                                }
                            }
                        }

                        @at-root {
                            .air__menuLeft__toggled.air__menuLeft__gray {
                                .air__menuLeft__submenu__active {
                                    background: $gray-2 !important;
                                }
                            }
                        }
                    }

                    > .air__menuLeft__link {
                        &:before,
                        &:after {
                            background: $gray-5;
                        }
                    }
                }

                &__category,
                &__user__name {
                    color: $text;
                }

                &__user__role {
                    color: $gray-5;
                }

                &__logo__name {
                    color: $black;
                }

                &__banner {
                    box-shadow: 0 8px 15px -5px rgba(0, 0, 0, 0.3);
                }
            }
        }

        // white theme
        .air__menuLeft__white {
            background: $white;

            .air__menuLeft {
                &__category {
                    &:after {
                        background: $gray-1;
                    }
                }

                &__link {
                    color: $text;

                    &:hover {
                        color: $white;
                        background: $primary;
                        &:before,
                        &:after {
                            background: $white !important;
                        }
                    }
                }

                &__item {
                    &__active {
                        .air__menuLeft__link {
                            color: $white;
                        }
                    }
                }

                &__submenu {
                    &__active {
                        background: $gray-1;
                        > .air__menuLeft__link {
                            .air__menuLeft__icon {
                                color: $text;
                            }

                            &:hover {
                                .air__menuLeft__icon {
                                    color: $white;
                                }
                            }
                        }

                        @at-root {
                            .air__menuLeft__toggled.air__menuLeft__white {
                                .air__menuLeft__submenu__active {
                                    background: $gray-1 !important;
                                }
                            }
                        }
                    }

                    > .air__menuLeft__link {
                        &:before,
                        &:after {
                            background: $gray-5;
                        }
                    }
                }

                &__category,
                &__user__name {
                    color: $text;
                }

                &__user__role {
                    color: $gray-5;
                }

                &__logo__name {
                    color: $black;
                }

                &__banner {
                    box-shadow: 0 8px 15px -5px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }

    // flyout menu styles
    @media (min-width: $sm-min-width) {
        &__flyout:not(.air__menuLeft__toggled) {
            .air__menuLeft {
                &__submenu {
                    &__active {
                        background: $primary;
                        > .air__menuLeft__link {
                            color: $white;
                            .air__menuLeft__icon {
                                color: $white;
                            }
                        }
                    }
                    > .air__menuLeft__list {
                        display: none !important;
                    }
                }
                &__link {
                    &:before {
                        right: rem(18);
                        top: 50%;
                    }
                    &:after {
                        right: rem(18);
                        top: 50%;
                        margin-top: -3px;
                    }
                }
            }
        }

        // menu item hover styles
        &__flyout,
        &__compact,
        &__toggled {
            // default
            .air__menuLeft {
                &__link {
                    &:hover {
                        background: $primary;
                    }
                }
            }

            &.air__menuFlyout {
                // black
                &__black {
                    .air__menuLeft {
                        &__link {
                            &:hover {
                                background: $black;
                            }
                        }
                    }
                }
                // gray
                &__gray {
                    .air__menuLeft {
                        &__link {
                            &:hover {
                                background: $gray-1;
                                color: $primary;
                                &:before,
                                &:after {
                                    background: $primary;
                                }
                            }
                        }
                    }
                }
                // white
                &__white {
                    .air__menuLeft {
                        &__link {
                            &:hover {
                                background: $white;
                                color: $primary;
                                &:before,
                                &:after {
                                    background: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }

        // flyout container
        @at-root {
            .air__menuFlyout {
                position: fixed;
                z-index: 3000;
                top: 100px;
                box-shadow: $shadow-5;
                background: $primary;
                transform: translate3d(0, calc(-50% + 20px), 0);
                transition: transform 0.1s ease-in-out !important;
                transition-delay: 0 !important;
                transform-origin: 0 0;

                .air__menuLeft {
                    &__list {
                        max-width: rem(540);
                        display: block !important;
                        height: auto !important;
                    }

                    &__item {
                        float: left;
                        width: rem(180);
                        border-left: 1px solid rgba($gray-1, 0.1);
                        border-bottom: 1px solid rgba($gray-1, 0.1);
                        &:nth-child(3n + 1) {
                            border-left: none;
                        }

                        &__active {
                            .air__menuLeft__link {
                                background: rgba($gray-1, 0.1);
                            }
                        }
                    }

                    &__link {
                        color: $white;
                        padding: rem(15) rem(30);

                        &:hover {
                            background: rgba($gray-1, 0.1);
                        }

                        > span {
                            display: block !important;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }

                // flyout themes
                @at-root {
                    @media (min-width: $sm-min-width) {
                        .air__menuFlyout {
                            // black
                            &__black {
                                &.air__menuFlyout {
                                    background: $black;
                                }
                            }
                            //white
                            &__white {
                                .air__menuLeft {
                                    &__link {
                                        &:hover {
                                            &:before,
                                            &:after {
                                                background: $primary !important;
                                            }
                                        }
                                    }
                                    &__submenu {
                                        &__active {
                                            > .air__menuLeft__link {
                                                &:hover {
                                                    color: $primary;
                                                    .air__menuLeft__icon {
                                                        color: $primary;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.air__menuFlyout {
                                    background: $white;
                                    box-shadow: $shadow-2;

                                    .air__menuLeft {
                                        &__item {
                                            border-left: 1px solid $gray-1;
                                            border-bottom: 1px solid $gray-1;
                                        }
                                        &__link {
                                            color: $primary;
                                            &:hover {
                                                color: darken($primary, 10%);
                                                background: rgba($gray-3, 0.3);
                                                &__active {
                                                    .air__menuLeft__link {
                                                        background: rgba($gray-3, 0.3);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            // gray
                            &__gray {
                                .air__menuLeft {
                                    &__link {
                                        &:hover {
                                            &:before,
                                            &:after {
                                                background: $primary !important;
                                            }
                                        }
                                    }
                                    &__submenu {
                                        &__active {
                                            > .air__menuLeft__link {
                                                &:hover {
                                                    color: $primary;
                                                    .air__menuLeft__icon {
                                                        color: $primary;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.air__menuFlyout {
                                    background: $gray-1;
                                    box-shadow: $shadow-2;

                                    .air__menuLeft {
                                        &__item {
                                            border-left: 1px solid darken($gray-1, 4%);
                                            border-bottom: 1px solid darken($gray-1, 4%);
                                            &__active {
                                                .air__menuLeft__link {
                                                    background: rgba($gray-3, 0.3);
                                                }
                                            }
                                        }
                                        &__link {
                                            color: $primary;
                                            &:hover {
                                                color: darken($primary, 10%);
                                                background: rgba($gray-3, 0.3);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


