<nz-layout>
    <nz-sider [nzWidth]="'auto'">
        <app-menu-module></app-menu-module>
    </nz-sider>
    <nz-content>
        <div class="air__utils__content">
            <div [@slideFadeinUp]="routeAnimation(outletModule, 'slideFadeinUp')" [@slideFadeinRight]="routeAnimation(outletModule, 'slideFadeinRight')" [@zoomFadein]="routeAnimation(outletModule, 'zoomFadein')" [@fadein]="routeAnimation(outletModule, 'fadein')">
                <router-outlet #outletModule="outlet"></router-outlet>
            </div>
        </div>
    </nz-content>

</nz-layout>