@import "src/assets/styles/mixins.scss";

.topbar {
  background: transparent;
  min-height: rem(64);
  border-bottom: 1px solid $border;
  padding: rem(15) rem(20);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

//logo
.air__menuTop__logo {
    display: block;
    line-height: 1;
    min-width: rem(200);
    img {
      float: left;
      margin-top: rem(5);
    }
    &__name {
      font-weight: 900;
      color: #e4e4;
      font-size: 21px;
      margin-left: rem(40);
    }
    &__descr {
      color: $gray-4;
      margin-left: rem(40);
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
}
