<div class="topbar">
    <div class="mr-md-4 mr-auto">
        <a href="javascript: void(0);" class="air__menuTop__mobileToggleButton" (click)="toggleMobileMenu()">
            <span></span>
        </a>
        <a href="javascript: void(0);" class="air__menuTop__logo">
            <img src="assets/images/air-logo.png" alt="Air UI" />
            <div class="air__menuTop__logo__name">AIR UI</div>
            <div class="air__menuTop__logo__descr">Admin Template</div>
        </a>
    </div>
    <div class="mr-md-4 mr-auto">
        <air-topbar-search></air-topbar-search>
    </div>
    <div class="mr-auto d-none d-md-block">
        <air-topbar-issues-history></air-topbar-issues-history>
    </div>
    <div class="mb-0 mr-4 d-xl-block d-none">
        <air-topbar-status></air-topbar-status>
    </div>
    <div class="mr-4 d-none d-sm-block">
        <air-topbar-language-switcher></air-topbar-language-switcher>
    </div>
    <div class="mr-4 d-none d-sm-block">
        <air-topbar-actions></air-topbar-actions>
    </div>
    <div class="">
        <air-topbar-user-menu></air-topbar-user-menu>
    </div>
</div>
